@charset 'UTF-8';

h1{ 
    /* Elemento box-level */
    background-color: rgb(4, 100, 133);
    height: 300px;
    width: 300px;    
    border: 10px double rgb(43, 43, 238);
    padding: 10px; 
    margin: 10px auto;
    outline: 5px dashed rgb(91, 158, 199);
}

a{ 
    /* Elemento inline-level */
    border: 2px double rgb(28, 28, 138);
    padding: 3px;
}