#menu a{
    font-size: 20pt;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    width: 450px;
    border-radius: 10%;
}
#menu a:hover{
    background-color: rgb(245, 3, 3);
    color: aliceblue;
}
a{
    text-decoration: none;
}
p, h1, h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-size: 12px;
    font-weight: lighter;
    color: rgb(245, 112, 3);
}
h1{
    font-size: 16px;
    font-weight: bolder;
    color: darkgreen;
}
h2{
    font-size: 14px;
    font-weight: 900;
    color: brown;
}